GEMINI_API_KEY="AQ.Ab8RN6ItUn-DDYsdn1QH5ptXTHjYdchb4UTiHBbuDGxMIGo5sw"
DATABASE_URL="https://dyidigrckkpezxktavql.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://dyidigrckkpezxktavql.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_s8O54dm5aS1e1D6ChaXPXA__A8-xJiI"
